<md-card *ngFor="let actor of actors" (click)="openActor(actor)" >
  <md-card-title>
    <span class="md-headline">Actor: {{actor.actor}}</span>
    <br/>
    <span class="subhead">Beschrijving: {{actor.beschrijving}}</span>
  </md-card-title>
  <div>
  <img
    *ngFor= "let persoon of actor?.persons | persoonpipe"
    [src]="'data:image/png;base64,' + persoon?.imageString | safeUrl"
    width="50px"
    hspace="10px"
    height="50px"/>
</div>
</md-card>

<md-card-actions align="end">
  <button md-raised-button (click)="newActor()">
    New
  </button>
</md-card-actions>
