<md-card class="main-card">
  <md-card-title>
    <span class="md-headline">{{project.$key}}</span>
    <br/>
    <span class="subhead">{{project.content}}</span>
  </md-card-title>
<form #f="ngForm" (ngSubmit)="saveActor(f)">
<md-card>
  <i class="material-icons">supervisor_account</i>
  <br>
<md-input-container>
  <input  mdInput
          [readonly]="user.auth.email != project.analistID"
          [(ngModel)]="actor.actor"
          name="actor"
          type="text"
          placeholder="Actor"
          required/>
</md-input-container>
<br/>
<md-input-container>
  <input  mdInput
          [(ngModel)]="actor.beschrijving"
          [readonly]="user.auth.email != project.analistID"
          name="beschrijving"
          type="text"
          placeholder="Beschrijving"
          required/>
</md-input-container>
  <button type="submit" class="save-button">
    <i class="material-icons icon-flipped">reply</i>
  </button>
</md-card>
</form>
</md-card>
