<md-input-container>
  <input mdInput
         required
         type="text"
         placeholder="Functie"
         required/>
</md-input-container>
<br>
<md-input-container>
  <input mdInput
         type="text"
         required
         placeholder="Opmerkingen"
         required/>
</md-input-container>
<br>
<md-input-container>
  <input mdInput
         type="text"
         required
         placeholder="Naam"
         required/>
</md-input-container>
<br>
<md-input-container>
  <input mdInput
         type="text"
         required
         placeholder="Email"
         required/>
</md-input-container>
<br>
<md-input-container>
  <input mdInput
         type="text"
         required
         placeholder="Telefoonnummer"
         required/>
</md-input-container>

<md-select placeholder="Telefoon Type" [(ngModel)]="selectedValue" name="food">
  <md-option value="Mobile">
    Mobile
  </md-option>
  <md-option value="Home">
    Home
  </md-option>
</md-select>
